<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2012-2017 Snowflake Computing Inc. All rights reserved.
 * Notice of modifications:
 *  @rdagumampan : Commented and removed dependency to Common.Logging
-->
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
</packages>